# Use the Google C++ Style Guide as the foundation
BasedOnStyle: Google

# Language version
Standard: c++20

# Common adjustments (optional)
ColumnLimit: 120
# Encourages the formatter to respect the longer line limit
PenaltyBreakBeforeFirstCallParameter: 100
IndentWidth: 2
AllowShortFunctionsOnASingleLine: Empty

# Sort includes alphabetically (Google standard)
SortIncludes: true

# Ensure pointers are aligned to the left: int* p (Google standard)
DerivePointerAlignment: false
PointerAlignment: Left
